<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center" *ngIf="images.length === 0">
    <h5>There are no images yet!</h5>
  </div>

  <ion-list *ngFor="let image of images; index as i"> 
    <ion-item-sliding>
      <ion-img [src]="image.picture.webPath"></ion-img>
      <ion-item>
        <ion-label class="ion-text-wrap ion-text-center">
          {{ image.getLocationString() }}
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="deletePicture(i)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addPicture()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
