<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <p id="firstP">This was developed as a final project for SWDV 665: Advanced Topics in Software Development at Maryville University</p>
    <br>
    <ion-icon aria-hidden="true" name="image-outline" color="primary" size="large"></ion-icon>
    <p>From the 'images' tab, a picture can be taken that will be stored with location information</p>
    <br>
    <ion-icon aria-hidden="true" name="location-outline" color="primary" size="large"></ion-icon>
    <p>From the 'geolocation' tab, information about the current location can be retrieved</p>
  </div>

</ion-content>
